@font-face {
  font-family: "myFirstFont";
  src: url("../../font/PFBeauSansPro-Regular.woff");
}
body {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #58585a;
  font-family: "myFirstFont";
  text-align: center;
}

h2 {
  color: #c12026;
  font-size: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 60px;
  border-bottom: 5px solid #58585a;
  border-radius: 10px;
  text-align: center;
}

li {
  color: #c12026;
  text-align: start;
  margin-top: 15px;
}

span {
  color: #58585a;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 2;
  background-color: #58585a;
  box-shadow: 10px 10px 12px 0px gray;
  font-size: 20px;
  transition: all 0.5s;
}
.navbar_leftSide {
  display: flex;
  color: white;
}
.navbar_leftSide_menu {
  margin-left: 20px;
}
.navbar_middleSide {
  height: 80%;
  background-color: white;
  border-radius: 10px;
}
.navbar_middleSide-logo {
  height: 90%;
}
.navbar_rightSide {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
  height: 80%;
}
.navbar_rightSide-logo {
  height: 100%;
}
.navbar_rightSide-number {
  margin: 0 20px 0 10px;
}

.navbar_leftSide_menu {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #c12026;
}

.navbar-hide {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 90px;
  }
  .navbar_middleSide {
    height: 40%;
    margin-right: 20px;
  }
  .navbar_rightSide {
    display: none;
  }
  .navbar_leftSide_menu-about {
    display: none;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: url("../../images/background_title.jpeg");
  background-position: center;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.headerTitle_logo {
  width: 30%;
  height: auto;
}
.headerTitle_text {
  color: #c12026;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.headerArrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50px);
  height: 100px;
}

@media screen and (max-width: 600px) {
  .headerTitle_logo {
    width: 80%;
  }
  .headerTitle_text {
    width: 80%;
  }
  .headerArrow {
    display: flex;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 50px 60px 50px;
}
.about-text {
  font-size: 25px;
}
.about-map {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .about-map {
    border-radius: 5px;
    width: 100%;
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 60px 50px 60px 50px;
  background-color: #f2f2f2;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px 60px 50px;
}
.contact-linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-linkContainer-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-linkContainer-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-linkContainer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
}

.contact-icon-fb {
  height: 60px;
  margin-right: 70px;
}
.contact-icon-insta {
  height: 70px;
  margin-right: 50px;
}
.contact-icon-ytb {
  height: 75px;
  padding: 0;
}

.contact-subTitle {
  font-size: 25px;
  margin: 0;
}
.contact-link {
  font-size: 30px;
  margin-bottom: 120px;
}

@media screen and (max-width: 600px) {
  .contact-linkContainer-social {
    justify-content: space-between;
    width: 90%;
  }
  .contact-subTitle {
    font-size: 23px;
  }
  .contact-link {
    font-size: 23px;
    text-align: center;
  }
  .contact-linkContainer-phone {
    padding: 0 20px 0 20px;
  }
  .contact-linkContainer-title {
    padding: 0 20px 0 20px;
  }
  .contact-icon-fb {
    height: 50px;
    margin: 0;
  }
  .contact-icon-insta {
    height: 60px;
    margin: 0;
  }
  .contact-icon-ytb {
    height: 65px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #58585a;
  color: white;
  font-size: 15px;
  padding: 0 20px 0 20px;
}

/*# sourceMappingURL=styles.css.map */
