.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 50px 60px 50px;

    &-text {
        font-size: 25px;
    }

    &-map {
        display: flex;
        border-radius: 50%;
        overflow: hidden;
    }
}


// mobile device
@media screen and (max-width: 800px) {

    .about {
        &-map {
            border-radius: 5px;
            width: 100%;
        }
    }
}