.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 50px 60px 50px;

    &-imgContainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 30px;
    }
}

.img-partner {
    width: 15%;
    height: auto;
    padding: 10px;
    margin: 15px;
    background-color: $secondary-color;
    border-radius: 5%;
}


// mobile device
@media screen and (max-width: 800px) {
    .img-partner {
        min-width: 200px;
    }
}