header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url('../images/background_title.jpeg');
    background-position: center;

}

.headerTitle {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;

    &_logo {
        width: 30%;
        height: auto;
    }
    &_text {
        color: $primary-color;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    }
}

.headerArrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50px);
    height: 100px;
}


// mobile device 
@media screen and (max-width: 800px) {

    .headerTitle {
        &_logo {
            width: 80%;
        }

        &_text {
            width: 80%;
        }
    }

    .headerArrow {
        display: flex;
        bottom: 25px;
    }
}