.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 2;
    background-color: $secondary-color;
    box-shadow: 10px 10px 12px 0px gray;
    font-size: 20px;

    transition: all 0.5s;

    &_leftSide {
        display: flex;
        color: white;

        &_menu {
            margin-left: 20px;
        }
    }

    &_middleSide {
        height: 80%;
        background-color: white;
        border-radius: 10px;

        &-logo {
            height: 90%;
        }
    }

    &_rightSide {
        display: flex;
        align-items: center;
        font-size: 25px;
        color: white;
        height: 80%;

        &-logo {
            height: 100%;
        }

        &-number {
            margin: 0 20px 0 10px;
        }
    }
}

.navbar-hide {
    opacity: 0;
}